<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

	<Properties>
		<Property name="basepath">./logs</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="File" fileName="${basepath}/Automation.log"
			filePattern="{basepath}/Automation-%d{HH:mm:ss.SSS}.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="5000" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="File" />
		</Root>
		<!--<Logger name="org.openqa.selenium" level="debug" additivity="true">
			<AppenderRef ref="console" />
		</Logger>-->
	</Loggers>
</Configuration>